// CeraStencilPro basic
@font-face {
  font-family: "CeraStencilPro";
  src: url("../../assets/fonts/Cera_Stencil_PRO/Cera\ Stencil\ PRO.otf")
      format("opentype"),
    url("../../assets/fonts/Cera_Stencil_PRO/Cera\ Stencil\ PRO.woff")
      format("woff");
}

// CeraStencilPro bold
@font-face {
  font-family: "CeraStencilProBold";
  src: url("../../assets/fonts/Cera_Stencil_PRO/Cera\ Stencil\ PRO\ Bold.otf")
      format("opentype"),
    url("../../assets/fonts/Cera_Stencil_PRO/Cera\ Stencil\ PRO\ Bold.woff")
      format("woff");
}

// ArcherMediumPro
@font-face {
  font-family: "ArcherMedium";
  src: url("../../assets/fonts/Archer-Font/Archer-Medium-Pro.otf")
    format("opentype");
}

.decoration-mini-circles {
  background-image: url("../../assets/images/transparent-circles.svg");
  position: absolute;
  width: 100%;
  height: 22.05vh;
  z-index: -1;
}

// Description heading styles
.category-heading-wrapper {
  padding-top: 3%;
  height: 385px;

  display: flex;

  .electronics {
    background: rgb(140, 208, 227);
    background: linear-gradient(
      90deg,
      rgba(140, 208, 227, 1) 0%,
      rgba(253, 224, 94, 1) 100%
    );
  }

  .fashion {
    background: rgb(140, 208, 227);
    background: linear-gradient(
      90deg,
      rgba(140, 208, 227, 1) 0%,
      rgba(220, 146, 183, 1) 100%
    );
  }

  .health {
    background: rgb(234, 140, 204);
    background: linear-gradient(
      90deg,
      rgba(234, 140, 204, 1) 0%,
      rgba(140, 208, 227, 1) 100%
    );
  }

  .health {
    background: rgb(140, 208, 227);
    background: linear-gradient(
      90deg,
      rgba(140, 208, 227, 1) 0%,
      rgba(157, 212, 149, 1) 100%
    );
  }

  .books {
    background: rgb(140, 208, 227);
    background: linear-gradient(
      86deg,
      rgba(140, 208, 227, 1) 0%,
      rgba(255, 158, 231, 1) 100%
    );
  }

  .category-heading {
    width: 40%;
    max-height: 150px;
    padding: 90px 362px 90px 55px;
    left: 10%;

    position: relative;
    text-align: left;

    color: white;

    p {
      margin: 0;
      padding: 0;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    .category-title {
      font-family: "CeraStencilPro", Helvetica, Arial, sans-serif;
      font-size: 50px;

      margin-bottom: 12px;
    }

    .category-description {
      font-family: "ArcherMedium";
      font-weight: 570;
      font-size: 17px;
      line-height: 19px;
      letter-spacing: 0.4px;

      margin-bottom: 24px;
    }
  }

  .heading-pic {
    width: 300px;
    height: 300px;
    position: relative;
    margin-left: 70px;
    margin-top: 15px;

    z-index: 2;
  }
}
