@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");

$iconSize: 40px;
$labelSize: 17px;
$baseColor: white;

// CeraStencilPro basic
@font-face {
  font-family: "CeraStencilPro";
  src: url("../../../assets/fonts/Cera_Stencil_PRO/Cera\ Stencil\ PRO.otf")
      format("opentype"),
    url("../../../assets/fonts/Cera_Stencil_PRO/Cera\ Stencil\ PRO.woff")
      format("woff");
}

// CeraStencilPro bold
@font-face {
  font-family: "CeraStencilProBold";
  src: url("../../../assets/fonts/Cera_Stencil_PRO/Cera\ Stencil\ PRO\ Bold.otf")
      format("opentype"),
    url("../../../assets/fonts/Cera_Stencil_PRO/Cera\ Stencil\ PRO\ Bold.woff")
      format("woff");
}

header {
  background-color: #8cd0e3;
  margin-top: 1%;
  padding: 1% 3%;
  color: $baseColor;

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      margin-left: 80px;
    }

    .header-icon-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-size: $labelSize;
        margin-top: 10px;
      }
    }

    .header-icon {
      font-size: $iconSize;
      padding: 0;
    }

    .header-right {
      display: flex;
      gap: 30px;
    }
  }
}

nav {
  font-family: "CeraStencilProBold", Helvetica, Arial, sans-serif;
  font-size: 19px;
  // font-weight: ;
  text-transform: uppercase;

  margin-top: 1%;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      transition: color 0.6s ease;

      a {
        text-decoration: none;
        color: $baseColor;
        padding: 0 10px;
        -webkit-transition: color 0.2s ease;
        -moz-transition: color 0.2s ease;
        -o-transition: color 0.2s ease;
        transition: color 0.2s ease;

        &:hover {
          color: #f5ea77;
        }
      }

      &:not(:last-of-type) {
        &:after {
          content: " / ";
        }
      }
    }
  }
}
